@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-green: #63be60;
  /* --color-secondary-blue: #0184ff; */
  --color-primary-blue: #306FDC;
  --color-secondary-blue: #155DFC;
  --color-primary-black: #1D1D1F;
  --color-secondary-black: #364153;

  /* Font Family */
  --font-poppins: var(--font-poppins);

  /* Breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 576px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;
  --breakpoint-3xl: 1536px;
}

body {
  @apply font-poppins;
}

button{
  cursor: pointer;
}
/* Custom CSS */

.section_title {
  @apply text-xl;
}

.section_description {
  @apply text-base;
}

