@import "tailwindcss";

@font-face {
  font-family: "sf_pro";
  src: url("/fonts/sf_regular.OTF") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "sf_pro";
  src: url("/fonts/sf_medium.OTF") format("opentype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "sf_pro";
  src: url("/fonts/sf_bold.OTF") format("opentype");
  font-weight: 700;
  font-display: swap;
}

@theme {
  /* Colors */
  --color-primary-blue: #306fdc;
  --color-secondary-blue: #155dfc;
  --color-primary-black: #1d1d1f;
  --color-secondary-black: #364153;

  /* Font Family */
  --font-sf: "sf_pro", sans-serif;
}

html,
body {
  @apply w-dvw h-dvh overflow-x-hidden font-sf;
}

@layer base{
  .section_title{
    @apply text-center font-medium text-5xl text-primary-black mb-2 leading-[150%];
  }
  .section_sub_title{
    @apply text-center text-base sm:text-lg  text-secondary-black my-2 md:my-5 font-medium;
  }
  .section_description {
    @apply text-base;
  }
  .container {
    @apply max-w-[1548px] w-full mx-auto;
  }
}

button{
  cursor: pointer;
}

.section{
  @apply py-6 md:py-12 xl:py-20 2xl:py-24;
}

.custom_border {
  border: 0.5px solid rgba(0, 0, 0, 0.16);
}

.marquee {
  animation: marquee 20s linear infinite;
}

.reverse-marquee {
  animation: marquee-reverse 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
